
<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    Nome Completo:<input type="text" name="" maxlength="10" minlength="5" placeholder="Nome Completo" required>
                    senha:<input type="password" name="senha" placeholder="senha"required>
                    telefone:<input type="number"></br>
                    E-mail:<input type="email"></br>
                    endereço:<input type="text"></br>

                    <input type="submit" value="Cadastrar">
                </form>
            </fieldset>
        </body>
    </html>
